@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;700&family=Roboto&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #90CEF5;
    background: linear-gradient(to right top,#206DAB,#fff);
}


.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: #5e83e9;
    /* position: fixed; */
}

.main-heading{
    float: left;
}

.logo{
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.menu{
    float: right;
    padding-right: 20px;
}

ul{
    padding-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 14px;
   
}

ul li a{
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

ul li a:hover{
    color: white;
}

.container{
   display: flex;
}

i{
    padding-top: 15px;
    padding-left: 10px;
    cursor: pointer;
}

i:hover{
    color: #fff;
}


.patient-info,.Test-info{
    width: 600px;
    height: 1200px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 150px;  
    padding: 10px;
    border: none;
    box-shadow: 12px 12px 2px 1px #51565a;
    margin-bottom: 50px;
}

.Test-info{
    height: 800px;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-right: 150px;
}
.patient-info .head,.Test-info .head{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    position: relative;
    margin-bottom: 20px;
}

.patient-info .head::before,.Test-info .head::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #5880ec;
}

input,select,textarea{
    height: 45px;
    width: 100%;
    padding-left: 10px;
    margin: 20px 0 12px 0;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
}

textarea{
   padding-top: 10px;
}

input:focus,.input:valid,select:focus{
    border-color: #2A8DDE;
    border-bottom-width: 7px;
}

.lbl{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

::placeholder{
    font-weight: bold;
    padding-left: 10px;
}

.btn-register button , .btn-refresh button,.btn-addTest button{
    width: 200px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    border-style: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #3464e9;
    color: #fafcff;
}

.Patient{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button:hover{
    border-color: whitesmoke;
}
