@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Kanit:wght@700&family=Oswald:wght@700&family=Poppins:wght@400;700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../Images/Doctor_Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container{
    background: linear-gradient(to top right,blue,red,0.4);
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    background-color: rgb(190, 219, 231);
}

.main-heading{
    float: left;
}

.logo{
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 10px;
    color: #dd6050;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

.menu{
    float: right;
    padding-right: 20px;
}

ul{
    padding-left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
}

ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 14px;
   
}

ul li a{
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: #6200ff;
}

.heading{
    text-align: center;
    padding: 10px;
    color: indigo;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.personal-info,.other-info{
    width: 1000px;
    height: 600px;
    border: solid yellowgreen 5px;
    margin-top: 20px;
    margin-left: 250px;
    text-align: center;
    padding: 10px;
}

.personal-info h5{
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
