@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Poppins:wght@400;700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: rgb(100, 85, 70);
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

p{
    margin-left: 40px;
}

.nav-bar ul li{
   padding: 2px;
   float: right;
}

.nav-bar ul li a{
    margin: 20px;
    text-decoration: none;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.left{
    float: left;
    font-family: 'Poppins', sans-serif;
}

.left h2{
    color: cornflowerblue;
    text-align: center;  
    margin: 5px; 
}

.about-us{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.box{
    width: 250px;
    height: 200px;
    background-color: black;
    margin: 20px;
    opacity: calc(0.1);
}


.batches{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.batch{
    width: 250px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px; 
    opacity: calc(0.5); 
    justify-content: center;
    display: flex;
}

.batch h4{
    margin-top: 10px;
    color: brown;
}

.contact-us{
    margin: 15px;
    justify-content: center;
    background-color: antiquewhite;
}

.frm{
    justify-content: center;
    background-color: aliceblue;
    height: 345px;
    padding: 10px;
}

.frm h2{
    text-align: center;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
}

.frm-input{
    margin: 25px;
    display: flex;
    width: 200px;
    height: 25px;
}

.btn{
    margin-left: 70px;
    width: 80px;
    height: 30px;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
    cursor: pointer;
    color: dodgerblue;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sec2{
    width: 100%;
    background-color: white;
    justify-content: center;
}



#sec4{
    background-color: white;
}

