@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Poppins:wght@400;700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: rgb(100, 85, 70);
    height: 60px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

.nav{
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

h2{
     text-align: center;
}

p{
    margin-left: 40px;
}

.nav-bar ul li{
   padding: 2px;
   font-size: 25px;
}

.nav-bar ul li a{
    margin: 20px;
    text-decoration: none;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.left{
    float: left;
    font-family: 'Poppins', sans-serif;
}

.left h3{
    color: maroon;
    text-align: center;  
    margin: 5px; 
    font-weight: bold;
    font-size: 40px;
    font-family: 'Fredoka', sans-serif;
}

.about-us{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.box{
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 20px;
    opacity: calc(0.1);
}


.batches{
    display: flex;
    justify-content: center;
    margin: 15px;
    background-color: antiquewhite;
}

.batch,.batch1{
    width: 500px;
    height: 250px;
   background-color: aquamarine;
    margin: 20px; 
   /* opacity: calc(0.5); */
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.about-batch{
    margin-top: 35px;
    color: blue;
    position: absolute; 
    height: 70px;
    width: 180px;
    justify-content: center;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.batch h4,.batch1 h4{
    margin-top: 10px;
    color: brown;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    text-align: center;
}
 

.contact-us{
    margin: 80px;
    justify-content: center;
    background-color: aliceblue;
    width: 280px;
    height: 345px;
    padding: 10px;
}


.container h2,.contact-container h2{
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.frm-input{
    margin: 25px;
    display: flex;
    width: 200px;
    height: 25px;
}

.btn{
    margin-left: 70px;
    width: 80px;
    height: 30px;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Fredoka', sans-serif;
    cursor: pointer;
    color: dodgerblue;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    width: 100%;
    height: 40px;
    background-color: blanchedalmond;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#sec4{
    background-color: white;
}

.apply{
   display: flex;
}

.btn-apply{
    width: 130px;
    height: 30px;
    margin-top: 160px;
    margin-left: 5px;
}

