@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-image: url("../Images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main
{
   display: flex;
   width: 700px;
   height: 500px;
   margin-left: 370px;
   justify-content: center;
   margin-top: 80px;
   margin-bottom: 50px;
}

.frm-login{
    display: flex;
    width: 500px;
    height: 450px;
    background-color: black;
    margin-top: 50px;
    opacity: calc(0.5);
    flex-direction: column;
    
}

.frm-log{
    display: flex;
    align-content: center;
}

.head{
    flex-direction: column;
    text-align: center;
}

.head h2{
    color: crimson;
    margin-top: 10px;
    justify-self: center;
    font-size: 30px;
    font-weight: bold;
}

.user,.pass{
    margin: 30px;
    margin-top: 60px;
    margin-left: 70px;
}

.lbl-user , .lbl-pass{
    color: mediumspringgreen;
    margin-right: 20px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.btn{
    padding-top: 40px;
    margin-left: 50px;
}

.btn-login{
    width: 90px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: yellow;
    border: solid yellow 2px;
    background-color: transparent;
    cursor: pointer;
    font-size: 17px;
    margin-left: 120px;
}

.frm-input{
    margin-top: 15px;
    width: 200px;
    height: 35px;
    margin-left: 15px;
}
